.contact-container {
    display: flexbox;
    flex-direction: column;
    width: 60%; /* Use the full screen width */
    /* max-width: 1200px; Limit the overall content width */
    margin: 0 auto;
    border-left: 30px;
    padding: 20px;
  }

  .image-grid-carousel {
    display: flex;
    flex: 0 1; /* Allow it to share space proportionally */
    flex-wrap: wrap;
    max-width: 40%; /* Prevent it from exceeding a set width */
    max-height: 500px;
    gap: 10px;
    padding: 0px;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    align-content:first baseline;
    margin-top: 10px;
  }

  .text-container-carousel {
    flex: 1; /* Share space proportionally */
    max-width: 40%; /* Constrain its size */
    padding: 5px;
    padding-top: 10px;
    box-sizing: border-box;
    z-index: 1; /* Ensure it appears above the image grid */
    margin-left: 200px;
  }